body {
    font-family:Arial, Helvetica, sans-serif;
    background:#fafbfd;
    padding:20px;
    
}

header {
    
    text-align: center;
    font-size:20px;
    margin-bottom:20px;
}



.search-box {
    display: flex;
    justify-content: center;
    gap:10px;
}

.search-box input {
    width: 300px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #6a6464;
}

.search-box button {
    padding: 10px 20px;
    border: none;
    background: #7cafc9;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.hidden {
    display: none;
}

#priceList {
    margin: 20px 0;
}

.store-box {
    padding: 12px;
    background: white;
    border-radius: 6px;
    margin: 10px 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 1);
}

search-box span {
    font-weight: bold;
}

.product-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  margin: 15px 0;
  display: block;
}